#WebStorm project folder
/.idea

#Files for Firebase hosting
/firebase.json
/.github
/.firebase
/.firebaserc

#Local copies of library files
/public/lib

#Node.js dependencies
/node_modules
/package-lock.json
/package.json

#Files for PWA
/public/site.webmanifest
/public/favicon

#Firebase configuration file
/public/firebaseConfig.js